html {
height: 100%;
width: 100%;
}
body
{
background: radial-gradient(rgb(255, 210, 79), rgb(0, 75, 141));
background-size: cover;
color: white;
display: flex;
width: 100%;
}
a
{
cursor: pointer;
}
.container-fluid {
width: 100%;
}
.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */
display: flex;
align-items: center;
}
form
{
margin-top: 20px;
}
#div_transfer {
  margin: 0; 
  padding: 0;
}
.col-centered
{
margin: 0 auto;
float: none;
}

.modal-header
{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: #33b5e5;
 }

.alert-header
{
    background-color: #ff4444;
}

#alertModal > *
{
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}

#login-panel
{
margin: 0 auto;
text-align: center;
background-color: #0066cc;
padding: 10px 60px 20px 60px;
border-radius: 30px;
border: 2px solid #fcd955;
width: 50%;
}
@media screen and (max-width: 768px) {
    body {
    text-align: center;
    }
    #login-panel
    {
    width: 90%;
    }
}
